.profilInfoChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(113.49deg, #984d38, #181e41 63.29%);
    width: 1440px;
    height: 1861px;
}
.tetrasolanaAllRights {
    position: absolute;
    top: 1727px;
    left: 544px;
    font-weight: 500;
}
.about {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 69.2px;
}
.product {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 64.81px;
}
.resource {
    position: absolute;
    top: 93px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 77.99px;
}
.termCondition1 {
    position: absolute;
    top: 136px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 146.09px;
}
.faq {
    position: absolute;
    top: 179px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 32.95px;
}
.aboutParent {
    position: absolute;
    top: 2px;
    left: 662.33px;
    width: 146.09px;
    height: 202px;
}
.theBestNft {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 316.34px;
}
.so {
    background: linear-gradient(214.02deg, #b75cff, #671ae4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tetrasolana {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    width: 177.94px;
    color: #fff;
}
.theBestNftMarketplaceWebsiParent {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 316.34px;
    height: 119px;
}
.contact {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 92.26px;
}
.div {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 114.23px;
}
.tetrasolanagmailcom {
    position: absolute;
    top: 93px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 203.2px;
}
.youtubeIcon1 {
    position: relative;
    width: 25px;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
}
.youtubeParent {
    position: absolute;
    top: 136px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.contactParent {
    position: absolute;
    top: 0px;
    left: 957.8px;
    width: 203.2px;
    height: 161px;
}
.footer {
    position: absolute;
    top: 1425px;
    left: 139px;
    width: 1161px;
    height: 204px;
    font-size: 15px;
}
.profilInfoItem {
    position: absolute;
    top: 1491px;
    left: 22px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.cardClick1 {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 1281px;
    height: 266px;
    z-index: 0;
}
.profilePictureIcon {
    flex: 1;
    position: relative;
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    height: 163px;
    object-fit: cover;
}
.vanDarkholme {
    position: relative;
}
.vanDarkholmeWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 383.38px;
    height: 34.2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    font-family: Poppins;
}
.loidonsafWrapper {
    position: absolute;
    top: 52px;
    left: 5px;
    width: 182.66px;
    height: 15.96px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    opacity: 0.4;
    font-size: 12px;
}
.solanaSolLogo1Icon1 {
    position: relative;
    width: 29.04px;
    height: 36px;
    object-fit: cover;
}
.sol {
    position: relative;
    display: inline-block;
    background: linear-gradient(97.86deg, #ff8d8d, #f7fc0e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 220px;
    height: 37px;
    flex-shrink: 0;
}
.solanaSolLogo1Parent {
    position: absolute;
    top: 11px;
    left: 383px;
    width: 243px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    gap: 10px;
    font-size: 32px;
}
.frameGroup {
    position: relative;
    width: 626px;
    height: 67.96px;
    font-size: 40px;
    font-family: Roboto;
}
.claimReward {
    position: relative;
    font-weight: 500;
}
.claimRewardWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background: linear-gradient(214.02deg, #b75cff, #671ae4);
    width: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
}
.swapWalletWrapper {
    position: absolute;
    top: 0px;
    left: 181px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.action {
    position: relative;
    width: 346px;
    height: 50px;
}
.goldCoinMoneySymbolIconPn1 {
    position: relative;
    width: 36px;
    height: 36px;
    object-fit: cover;
}
.coins {
    position: relative;
    display: inline-block;
    width: 107px;
    height: 27px;
    flex-shrink: 0;
}
.goldCoinMoneySymbolIconPnParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.groupParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;
}
.profilePictureParent {
    margin: 0 !important;
    position: absolute;
    top: 35px;
    left: 32px;
    width: 846px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
    z-index: 1;
}
.cardClickParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
}
.frameDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameWrapper {
    position: relative;
    width: 1277px;
    height: 262px;
}
.userIcon1 {
    position: relative;
    width: 24px;
    height: 24px;
}
.profileInfo {
    position: relative;
    display: inline-block;
    width: 269px;
    flex-shrink: 0;
}
.expandRightLightIcon7 {
    position: relative;
    width: 15.36px;
    height: 24px;
}
.userParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 347px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.groupChild {
    position: absolute;
    top: 49.5px;
    left: -0.5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 343.49px;
    height: 1px;
}
.groupDiv {
    align-self: stretch;
    position: relative;
    height: 50px;
    color: #fff;
}
.accountSettings {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 269px;
    flex-shrink: 0;
}
.frameParent2 {
    align-self: stretch;
    position: relative;
    height: 50px;
}
.groupParent1 {
    width: 347px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
}
.cardUnClick1 {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    width: 861px;
    height: 435px;
    z-index: 0;
}
.name {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 87.52%;
}
.frameTextfield {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 25px;
    left: 0px;
}
.nameParent {
    position: relative;
    width: 342px;
    height: 68px;
}
.frameInputtextarea {
    position: absolute;
    top: 25px;
    left: 0px;
}
.groupParent2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 53px;
}
.phoneNumber {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    line-height: 87.52%;
}
.wrapper {
    position: absolute;
    top: 25px;
    left: 155px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 187px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
}
.autyz4pk2snhqtvw7gv61Icon1 {
    position: relative;
    width: 28px;
    height: 14px;
    object-fit: cover;
}
.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.autyz4pk2snhqtvw7gv61Parent {
    position: absolute;
    top: 25px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 141px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 10px;
    text-align: center;
}
.phoneNumberParent {
    position: relative;
    width: 342px;
    height: 69px;
    font-size: 15px;
}
.groupChild5 {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 25px;
    left: 0px;
    border-radius: 10px;
    width: 342px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
}
.repeatPassword1 {
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: inherit;
    line-height: 87.52%;
    font-weight: 700;
    font-family: inherit;
}
.frameParent9 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;
}
.button {
    border-radius: 12px;
    background: linear-gradient(97.86deg, #b75cff, #671ae4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 86px;
    font-size: 19.2px;
    font-family: Roboto;
}
.frameParent8 {
    margin: 0 !important;
    position: absolute;
    top: 35px;
    left: 59px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 45px;
    z-index: 1;
}
.cardUnClickParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
    font-size: 16px;
    color: #fff;
}
.frameParent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 57px;
    color: rgba(255, 255, 255, 0.5);
}
.frameParent {
    position: absolute;
    top: 114px;
    left: 88px;
    width: 1277px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 57px;
    color: #fff;
}
.selectWalletWrapper {
    border-radius: 10px;
    background: linear-gradient(214.02deg, #b75cff, #671ae4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.ellipseDiv {
    position: absolute;
    top: 0px;
    left: 12.29px;
    border-radius: 50%;
    background-color: #fff;
    width: 20.48px;
    height: 20.63px;
}
.rectangleDiv {
    position: absolute;
    top: 26px;
    left: 0px;
    background-color: #fff;
    width: 43px;
    height: 10px;
}
.ellipseParent {
    position: relative;
    width: 43px;
    height: 36px;
}
.marketplaceParent {
    position: absolute;
    top: 0px;
    left: 656px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 40px;
}
.tetrasolana1 {
    position: absolute;
    top: 16px;
    left: 0px;
    font-size: 25px;
}
.searchChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 391px;
    height: 50px;
}
.searchIcon1 {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.searchParent {
    position: absolute;
    top: 10px;
    left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.search {
    position: absolute;
    top: 10px;
    left: 195px;
    width: 391px;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
}
.header {
    position: absolute;
    top: 10px;
    left: 80px;
    width: 1280px;
    height: 70px;
    color: #fff;
}
.profilInfo {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1861px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Poppins;
}

