.createArtworkChild {
    position: absolute;
    top: 1px;
    left: 0px;
    background: linear-gradient(113.49deg, #984d38, #181e41 63.29%);
    width: 1440px;
    height: 4738px;
}
.tetrasolanaAllRights {
    position: absolute;
    top: 1727px;
    left: 544px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}
.marketplace {
    position: relative;
}
.game {
    position: relative;
    font-weight: 500;
}
.selectWalletWrapper {
    border-radius: 10px;
    background: linear-gradient(214.02deg, #b75cff, #671ae4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.marketplaceParent {
    position: absolute;
    top: 0px;
    left: 656px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 40px;
}
.so {
    background: linear-gradient(214.02deg, #b75cff, #671ae4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tetrasolana {
    position: absolute;
    top: 16px;
    left: 0px;
    font-size: 25px;
}
.searchChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 384px;
    height: 50px;
}
.searchIcon1 {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.searchParent {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.search {
    position: absolute;
    top: 10px;
    left: 202px;
    width: 384px;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
}
.header {
    position: absolute;
    top: 10px;
    left: 122px;
    width: 1201px;
    height: 70px;
}
.about {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 69.2px;
}
.product {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 64.81px;
}
.resource {
    position: absolute;
    top: 93px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 77.99px;
}
.termCondition1 {
    position: absolute;
    top: 136px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 146.09px;
}
.faq1 {
    position: absolute;
    top: 179px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 32.95px;
}
.aboutParent {
    position: absolute;
    top: 2px;
    left: 662.33px;
    width: 146.09px;
    height: 202px;
}
.theBestNft {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 316.34px;
}
.tetrasolana1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    width: 177.94px;
    color: #fff;
}
.theBestNftMarketplaceWebsiParent {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 316.34px;
    height: 119px;
}
.contact {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 92.26px;
}
.div {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 114.23px;
}
.tetrasolanagmailcom {
    position: absolute;
    top: 93px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 203.2px;
}
.youtubeIcon1 {
    position: relative;
    width: 25px;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
}
.youtubeParent {
    position: absolute;
    top: 136px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.contactParent {
    position: absolute;
    top: 0px;
    left: 957.8px;
    width: 203.2px;
    height: 161px;
}
.footer {
    position: absolute;
    top: 1425px;
    left: 139px;
    width: 1161px;
    height: 204px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}
.createArtworkItem {
    position: absolute;
    top: 1491px;
    left: 22px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 12.29px;
    border-radius: 50%;
    background-color: #fff;
    width: 20.48px;
    height: 20.63px;
}
.groupItem {
    position: absolute;
    top: 26px;
    left: 0px;
    background-color: #fff;
    width: 43px;
    height: 10px;
}
.ellipseParent {
    position: absolute;
    top: 27px;
    left: 1332px;
    width: 43px;
    height: 36px;
}
.cardClick1 {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 1281px;
    height: 266px;
    z-index: 0;
}
.profilePictureIcon {
    position: relative;
    border-radius: 50%;
    width: 172px;
    height: 163px;
    object-fit: cover;
}
.vanDarkholmeWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 383.38px;
    height: 34.2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    font-family: Poppins;
}
.loidonsafWrapper {
    position: absolute;
    top: 52px;
    left: 5px;
    width: 182.66px;
    height: 15.96px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    opacity: 0.4;
    font-size: 12px;
}
.solanaSolLogo1Icon1 {
    position: relative;
    width: 29.04px;
    height: 36px;
    object-fit: cover;
}
.sol {
    position: relative;
    display: inline-block;
    background: linear-gradient(97.86deg, #ff8d8d, #f7fc0e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 220px;
    height: 37px;
    flex-shrink: 0;
}
.solanaSolLogo1Parent {
    position: absolute;
    top: 11px;
    left: 383px;
    width: 243px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    gap: 10px;
    font-size: 32px;
}
.frameParent {
    position: relative;
    width: 626px;
    height: 67.96px;
    font-size: 40px;
    font-family: Roboto;
}
.claimRewardWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background: linear-gradient(214.02deg, #b75cff, #671ae4);
    width: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
}
.swapWalletWrapper {
    position: absolute;
    top: 0px;
    left: 181px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.action {
    position: relative;
    width: 346px;
    height: 50px;
}
.goldCoinMoneySymbolIconPn1 {
    position: relative;
    width: 36px;
    height: 36px;
    object-fit: cover;
}
.coins {
    position: relative;
    display: inline-block;
    width: 107px;
    height: 27px;
    flex-shrink: 0;
}
.goldCoinMoneySymbolIconPnParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.groupParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;
}
.profilePictureParent {
    margin: 0 !important;
    position: absolute;
    top: 32px;
    left: 31px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
    z-index: 1;
}
.cardClickParent {
    position: absolute;
    top: 114px;
    left: 88px;
    height: 262px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.cardUnClick4 {
    position: absolute;
    top: 432px;
    left: 504px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    width: 861px;
    height: 887px;
}
.userIcon1 {
    position: relative;
    width: 24px;
    height: 24px;
}
.profileInfo {
    position: relative;
    display: inline-block;
    width: 269px;
    flex-shrink: 0;
}
.expandRightLightIcon7 {
    position: relative;
    width: 15.36px;
    height: 24px;
}
.userParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 347px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.lineDiv {
    position: absolute;
    top: 49.5px;
    left: -0.5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 343.49px;
    height: 1px;
}
.frameGroup {
    align-self: stretch;
    position: relative;
    height: 50px;
}
.accountSettings {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 269px;
    flex-shrink: 0;
}
.frameParent2 {
    align-self: stretch;
    position: relative;
    height: 50px;
    color: #fff;
}
.frameDiv {
    position: absolute;
    top: 467px;
    left: 100px;
    width: 347px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    color: rgba(255, 255, 255, 0.5);
}
.uploadFile {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 87.52%;
    display: inline-block;
    width: 204.35px;
}
.exportLightIcon1 {
    position: relative;
    width: 28px;
    height: 28px;
}
.button {
    border-radius: 12px;
    background: linear-gradient(97.86deg, #b75cff, #671ae4);
    width: 99px;
    height: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 86px;
    box-sizing: border-box;
    font-size: 19.2px;
    font-family: Roboto;
}
.exportLightParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.frameWrapper {
    position: absolute;
    top: 36px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 768px;
    height: 189px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 14px;
}
.uploadFileParent {
    position: relative;
    width: 768px;
    height: 225px;
}
.groupWrapper {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.purchaseType {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 87.52%;
}
.purchaseTypeWrapper {
    position: relative;
    width: 152px;
    height: 18px;
}
.groupFrame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameWrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.cardUnClick5 {
    align-self: stretch;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 132px;
    z-index: 0;
}
.setAFixed1 {
    position: relative;
    font-size: 14px;
    line-height: 180%;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 194px;
    height: 56px;
    flex-shrink: 0;
}
.fixedPriceParent {
    margin: 0 !important;
    position: absolute;
    top: 19px;
    left: 23px;
    width: 194px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
}
.cardUnClickParent {
    width: 240px;
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
}
.cardUnClick6 {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 251px;
    height: 132px;
    z-index: 0;
}
.theHighestBidder1 {
    position: relative;
    font-size: 14px;
    line-height: 180%;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 206px;
    height: 73px;
    flex-shrink: 0;
}
.timedAuctionParent {
    margin: 0 !important;
    position: absolute;
    top: 19px;
    left: 23px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
}
.cardUnClickGroup {
    width: 250px;
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
}
.biddersMustAdhere1 {
    position: relative;
    font-size: 14px;
    line-height: 180%;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 206px;
    height: 101px;
    flex-shrink: 0;
}
.openForBidsParent {
    margin: 0 !important;
    position: absolute;
    top: 19px;
    left: 23px;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
}
.frameParent8 {
    height: 132px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    font-size: 16px;
}
.frameParent7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
}
.mainDetails {
    position: relative;
    font-size: 20px;
    line-height: 87.52%;
}
.artworkName {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 87.52%;
    display: inline-block;
    width: 138.59px;
}
.breathingWrapper {
    position: absolute;
    top: 25px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 15px;
}
.artworkNameParent {
    flex: 1;
    position: relative;
    height: 68px;
}
.groupWrapper1 {
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.priceParent {
    position: relative;
    width: 240px;
    height: 68px;
}
.solana {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 177px;
    flex-shrink: 0;
}
.solanaParent {
    position: absolute;
    top: 25px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 10px;
    font-size: 15px;
}
.selectCurrencyParent {
    position: relative;
    width: 240px;
    height: 69px;
}
.frameParent9 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.description {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 87.52%;
    display: inline-block;
    width: 443.49px;
}
.groupChild7 {
    position: absolute;
    top: 25px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 768px;
    height: 145px;
}
.descriptionParent {
    flex: 1;
    position: relative;
    height: 170px;
}
.groupWrapper2 {
    width: 768px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.mainDetailsParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
    font-size: 16px;
}
.frameParent6 {
    position: absolute;
    top: 467px;
    left: 551px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.button1 {
    position: absolute;
    top: 1233px;
    left: 1047px;
    border-radius: 12px;
    background: linear-gradient(97.86deg, #b75cff, #671ae4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 86px;
    font-size: 19.2px;
    font-family: Roboto;
}
.createArtwork {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1861px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Poppins;
}

