.marketplaceChild {
    position: absolute;
    top: 1px;
    left: 0px;
    background: linear-gradient(113.49deg, #984d38, #181e41 63.29%);
    width: 1440px;
    height: 4738px;
}
.tetrasolanaAllRights {
    position: absolute;
    top: 1727px;
    left: 544px;
    font-weight: 500;
}
.game {
    position: relative;
    font-weight: 500;
}
.selectWalletWrapper {
    border-radius: 10px;
    background: linear-gradient(214.02deg, #b75cff, #671ae4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.marketplaceParent {
    position: absolute;
    top: 0px;
    left: 656px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 40px;
}
.so {
    background: linear-gradient(214.02deg, #b75cff, #671ae4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tetrasolana {
    position: absolute;
    top: 16px;
    left: 0px;
    font-size: 25px;
}
.searchChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 384px;
    height: 50px;
}
.searchIcon1 {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.searchParent {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.search {
    position: absolute;
    top: 10px;
    left: 202px;
    width: 384px;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
}
.header {
    position: absolute;
    top: 10px;
    left: 122px;
    width: 1201px;
    height: 70px;
    color: #fff;
}
.about {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.product {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 500;
}
.resource {
    position: absolute;
    top: 93px;
    left: 0px;
    font-weight: 500;
}
.termCondition1 {
    position: absolute;
    top: 136px;
    left: 0px;
    font-weight: 500;
}
.aboutParent {
    position: absolute;
    top: 0px;
    left: 419px;
    width: 133px;
    height: 202px;
}
.features {
    position: absolute;
    top: 179px;
    left: 0px;
    font-weight: 500;
}
.companyParent {
    position: absolute;
    top: 0px;
    left: 683px;
    width: 119px;
    height: 202px;
}
.theBestNft {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 288px;
}
.tetrasolana1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 25px;
    text-align: center;
    color: #fff;
}
.theBestNftMarketplaceWebsiParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 288px;
    height: 119px;
}
.youtubeIcon1 {
    position: relative;
    width: 25px;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
}
.youtubeParent {
    position: absolute;
    top: 136px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.contactParent {
    position: absolute;
    top: 0px;
    left: 933px;
    width: 185px;
    height: 161px;
}
.footer {
    position: absolute;
    top: 1425px;
    left: 139px;
    width: 1118px;
    height: 202px;
    font-size: 15px;
}
.marketplaceItem {
    position: absolute;
    top: 1491px;
    left: 22px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 12.29px;
    border-radius: 50%;
    background-color: #fff;
    width: 20.48px;
    height: 20.63px;
}
.groupItem {
    position: absolute;
    top: 26px;
    left: 0px;
    background-color: #fff;
    width: 43px;
    height: 10px;
}
.ellipseParent {
    position: absolute;
    top: 27px;
    left: 1332px;
    width: 43px;
    height: 36px;
}
.marketplace {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -1.29%;
    right: -1.32%;
    bottom: 1.29%;
    left: 1.32%;
    background-color: #fff;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.ted {
    color: #fff;
}
.curatedCollections {
    position: absolute;
    height: 3.65%;
    width: 60.07%;
    top: 41.97%;
    left: 5.83%;
    font-size: 96px;
    font-family: 'Road Rage';
    display: inline-block;
    color: #a730d1;
}
.sol {
    position: absolute;
    top: 26.06%;
    left: 54.93%;
    font-family: 'Racing Sans One';
}
.image2Icon {
    position: absolute;
    height: 27.03%;
    width: 45.49%;
    top: 13.33%;
    right: 48.68%;
    bottom: 59.65%;
    left: 5.83%;
    border-radius: 100px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.productDetails {
    position: absolute;
    height: 3.65%;
    width: 60.07%;
    top: 6.29%;
    left: 5.83%;
    font-size: 96px;
    font-family: 'Road Rage';
    display: inline-block;
    color: #a730d1;
}
.t {
    color: #e2f40f;
}
.cloudyt {
    position: absolute;
    top: 15.21%;
    left: 54.03%;
    font-size: 64px;
    font-family: 'Rubik One';
}
.profilePictureIcon {
    position: absolute;
    height: 3.49%;
    width: 4.44%;
    top: 19.94%;
    right: 41.25%;
    bottom: 76.57%;
    left: 54.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.vanDarkholme {
    position: relative;
}
.vanDarkholmeWrapper {
    position: absolute;
    height: 57.56%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 42.44%;
    left: 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
}
.loidonsafWrapper {
    position: absolute;
    height: 39.94%;
    width: 47.69%;
    top: 60.06%;
    right: 52.31%;
    bottom: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    opacity: 0.4;
    font-size: 12px;
    font-family: Roboto;
}
.frameParent {
    position: absolute;
    height: 2.15%;
    width: 10.21%;
    top: 20.58%;
    right: 31.04%;
    bottom: 77.27%;
    left: 58.75%;
    font-size: 15px;
}
.label {
    position: absolute;
    top: 25.04%;
    left: 54.93%;
    font-size: 15px;
    font-family: Radley;
}
.usd {
    position: absolute;
    top: 28.75%;
    left: 54.93%;
    font-size: 14px;
    font-family: Rasa;
}
.pepiconsPencillineY1 {
    position: absolute;
    height: 11.07%;
    width: 3.33%;
    top: 19.99%;
    right: 26.88%;
    bottom: 68.94%;
    left: 69.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.button {
    position: absolute;
    top: calc(50% - 263.5px);
    left: calc(50% + 58px);
    border-radius: 12px;
    background: linear-gradient(97.86deg, #b75cff, #671ae4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 86px;
    font-size: 19.2px;
    font-family: Roboto;
}
.vectorIcon1 {
    position: absolute;
    height: 1.88%;
    width: 6.74%;
    top: 36.51%;
    right: 17.05%;
    bottom: 61.61%;
    left: 76.22%;
    border-radius: 100px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon2 {
    position: absolute;
    height: 1.88%;
    width: 6.74%;
    top: 36.57%;
    right: 9.06%;
    bottom: 61.55%;
    left: 84.2%;
    border-radius: 100px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon3 {
    position: absolute;
    height: 1.88%;
    width: 6.74%;
    top: 36.62%;
    right: 0.66%;
    bottom: 61.5%;
    left: 92.6%;
    border-radius: 100px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.div1 {
    position: absolute;
    top: 36.92%;
    left: 88.54%;
    font-size: 12px;
    font-family: Lemon;
}
.vectorIcon4 {
    position: absolute;
    height: 0.9%;
    width: 1.4%;
    top: 36.92%;
    right: 21.73%;
    bottom: 62.19%;
    left: 76.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.div2 {
    position: absolute;
    top: 36.92%;
    left: 80.42%;
    font-size: 12px;
    font-family: Lemon;
}
.bxcartIcon1 {
    position: absolute;
    height: 1.4%;
    width: 1.81%;
    top: 36.7%;
    right: 5.28%;
    bottom: 61.9%;
    left: 92.92%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.mdiLightshareIcon1 {
    position: absolute;
    height: 1.4%;
    width: 2.08%;
    top: 36.59%;
    right: 13.26%;
    bottom: 62.01%;
    left: 84.65%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.div3 {
    position: absolute;
    top: 37.02%;
    left: 96.81%;
    font-size: 12px;
    font-family: Lemon;
}
.starz {
    position: absolute;
    height: 3.44%;
    width: 8.4%;
    top: 69.96%;
    left: 14.44%;
    display: inline-block;
}
.twinklel {
    position: absolute;
    height: 3.44%;
    width: 12.5%;
    top: 69.96%;
    left: 78.68%;
    display: inline-block;
}
.moonj {
    position: absolute;
    height: 3.44%;
    width: 9.86%;
    top: 69.96%;
    left: 46.39%;
    display: inline-block;
}
.interactiveFunIts1 {
    position: absolute;
    top: 381px;
    left: 1041px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    display: inline-block;
    width: 405px;
}
.purchaseOrder {
    position: relative;
    width: 100%;
    height: 1861px;
    text-align: left;
    font-size: 40px;
    color: #fff;
    font-family: Poppins;
}

